<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="Alex Ramos">
		<meta name="author" content="Josh Hall">
		<meta name="author" content="Eric Berner">
		<meta name="author" content="Sukhman Tiwana">

		<title>Sign Up</title>

		<!-- bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/main.css"/>

		<!-- include libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

		<!-- load ngmessages -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

		<script src="js/app.js"></script>

	</head>

	<body  class="container" ng-app="validationApp" ng-controller="MainCtrl as main">
		<form name="signForm" id="signUpForm" novalidate>
			<h1>Sign Up</h1>
			<p>Our service is fun and awesome, but you must be 13 years old to join</p>
					
			<!-- EMAIL -->
			<!--The email field is required and must contain a valid email address, according to Angular's email validation rules (in other words, it has to be in the correct format but it doesn't have to be a real email address). If the email address is left blank after the user touches it, you form should show an appropriate error message. If it has a value but it's not a valid email address, you form should display a different appropriate error message.-->
			<div class="form-group" ng-class="{ 'has-error': signForm.email.$touched && signForm.email.$invalid }">
				<label>Email</label>
				<input type="email" name="email" placeholder="Email Address" class="form-control" ng-model="main.email" required>
				<div class="help-block" ng-messages="signForm.email.$error" ng-if="signForm.email.$touched">
					<p ng-message="required">Your email address is required.</p>
					<p ng-message="email">Your email address is invalid.</p>
				</div>
			</div>

			<!-- First Name -->
			<!--The firstName field has no validations. It may remain blank (e.g., people with only one name, like Madonna or Prince)-->
			<div class="name">
				<label>First Name</label>
				<input type="text" name="firstName" placeholder="Your First Name" class="form-control"></input>
			</div>

			<!-- Last Name -->
			<!--The lastName field is required. If it is still empty after the user touches it, your code should display an appropriate error message.-->
			<div class="form-group" ng-class="{ 'has-error': signForm.lastName.$touched}">
				<label>Last Name</label>
				<input type="lastName" name="lastName" placeholder="Last Name" class="form-control" ng-model="main.lastName" required>
				<div class="help-block" ng-messages="signForm.lastName.$error" ng-if="signForm.lastName.$touched">
					<p ng-message="required">Your last name is required.</p>
				</div>
			</div>

			<!-- Birthdate (MM/DD/YYYY) -->
			<!-- Required, will fail if the date entered is less than 13 years ago -->
			<div class="form-group" ng-class="{ 'has-error': signForm.birthdate.$touched}">
				<label>Birthdate</label>
				<input name="birthdate" placeholder="MM/DD/YYYY" class="form-control" ng-model="main.birthdate" ng-change="checkBirthDate()" required>
				<div class="help-block" ng-messages="signForm.birthdate.$error" ng-if="signForm.birthdate.$touched">
					<p ng-message="required">You must be at least 13 years old to sign up</p>
				</div>
			</div>


			<!-- Password entries -->
			<!-- Both required, will not validate if both passwords are not the same -->
			<div class="form-group" ng-class="{ 'has-error': signForm.password.$touched}">
				<label>Password</label>
				<input type="password" name="password" placeholder="Password" class="form-control" ng-model="main.password" ng-change="confirmPassword()" required>
				<div class="help-block" ng-messages="signForm.password.$error" ng-if="signForm.password.$touched">
					<p ng-message="required">Please enter a password</p>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': signForm.cPassw.$touched}">
				<label>Confirm Password</label>
				<input type="password" name="cPassw" placeholder="Confirm Password" class="form-control" ng-model="main.cPassw" ng-change="confirmPassword()"  required>
				<div class="help-block" ng-messages="signForm.cPassw.$error" ng-if="signForm.cPassw.$touched">
					<p ng-message="required">Please confirm your password</p>
				</div>
			</div>


			<!--The submit button (entitled "Sign Me Up!" in the screenshots above) must be disabled if any of the fields are not valid. It should be enabled only if all fields are valid.-->
			<button type="reset" class="btn btn-primary" value="Reset">Reset</button>
			<button type="submit" class="btn btn-primary" ng-click="submitForm(signForm.$valid)" ng-disabled="signForm.$invalid" id="submitButton" value="Submit">Sign Me Up!</button>
		</form>
	</body>
</html>